Repository mooooyo/email-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

change tsconfig.json
  tsconfig.json
Due: none

apply prettier
  tsconfig.json
Due: none

fix
  app/layout.tsx
  app/page.tsx
  package.json
Due: prettier --write, eslint --fix

apply prettier
  .eslintrc.json
  tsconfig.json
Due: none

apply prettier
  .prettierrc
  app/globals.css
  app/layout.tsx
  app/page.tsx
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix

change tsconfig
  tsconfig.json
Due: none

change eslint
  .eslintrc.json
Due: none

change script in package.json
  package.json
Due: none

apply prettier
  .eslintrc.json
  .lintstagedrc.json
  tsconfig.json
Due: none

PR-1 (#2)
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  app/globals.css
  app/layout.tsx
  app/page.tsx
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
  types/eslint-config-next.d.ts
Due: prettier --write, eslint --fix

cleanup
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  README.md
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  tsconfig.json
  types/eslint-config-next.d.ts
Due: prettier --write, eslint --fix

cleanup (#3)
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  README.md
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  tsconfig.json
  types/eslint-config-next.d.ts
Due: prettier --write, eslint --fix

setup react
  .gitignore
  app/index.tsx
  app/public/index.html
  app/root.tsx
  app/routes.tsx
  app/routes/_index.tsx
  node_modules/.package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: prettier --write, eslint --fix

add netlify.toml for routing
  netlify.toml
Due: none

add netlify.toml for routing (#5)
  netlify.toml
Due: none

fix routing
  netlify.toml
Due: none

fix routing (#6)
  netlify.toml
Due: none

change string for dev env
  app/routes/_index.tsx
Due: prettier --write, eslint --fix

update string for staging
  app/routes/_index.tsx
Due: prettier --write, eslint --fix

dev update
  .env.dev
  node_modules/.package-lock.json
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix

husky test
  .husky/pre-commit
  .prettierignore
  .prettierrc
  app/routes.tsx
  app/routes/_index.tsx
  eslint.config.js
  node_modules/.package-lock.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

add shadcn
  app/components/ui/button.tsx
  app/components/ui/input.tsx
  app/globals.css
  app/lib/utils.ts
  app/root.tsx
  components.json
  node_modules/.package-lock.json
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: prettier --write, eslint --fix

Dev to main (#7)
  .env.dev
  .husky/pre-commit
  .prettierignore
  .prettierrc
  app/components/ui/button.tsx
  app/components/ui/input.tsx
  app/globals.css
  app/lib/utils.ts
  app/root.tsx
  app/routes.tsx
  app/routes/_index.tsx
  components.json
  eslint.config.js
  node_modules/.package-lock.json
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: prettier --write, eslint --fix

Dev (#8)
  .husky/pre-commit
  .lintstagedrc.json
  app/index.tsx
  dist/bundle.js
  dist/bundle.js.LICENSE.txt
  dist/index.html
  eslint.config.js
  package.json
Due: prettier --write, eslint --fix

fix
  netlify.toml
Due: none

fix
  tsconfig.json
Due: none

re-enable lint-staged with app-only targeting
  .lintstagedrc.json
Due: none

fix
  app/routes.tsx
  app/routes/_index.tsx
Due: prettier --write, eslint --fix

add setup.md
  SETUP_LOG.md
Due: prettier --write

Add mock data JSON for email auth development
  app/data/mockData.json
Due: none

Add TypeScript interfaces for auth system
  app/types/auth.ts
Due: prettier --write, eslint --fix

Add mock auth service with localStorage persistence
  app/lib/authService.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
